<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd ">

    <bean id="auth" class="ua.pp.darknsoft.models.Author">
        <constructor-arg index="0" value="1"/>
        <constructor-arg index="1" value="Alexandr"/>
        <constructor-arg index="2" value="Pushkin"/>
    </bean>
<bean id="book" class="ua.pp.darknsoft.models.Book" p:id="1" p:name="fairy tales" p:author-ref="auth">
    </bean>
</beans>

