<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="navigation" class="ua.pp.darknsoft.Navigation"/>
    <bean id="postProcessor" class="ua.pp.darknsoft.LocalizingBeanPostProcessor">
        <constructor-arg value="fr"></constructor-arg>
    </bean>
</beans>